*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# iOS specific
ios/build/
ios/DerivedData/
ios/xcuserdata/
ios/**/*.xcworkspace
ios/Pods/
ios/**/*.ipa
ios/**/*.dSYM.zip
ios/**/*.dSYM
